#fixNav{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    z-index: 1000;
}
.menu{
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    padding: 0;
    width: auto;
    float: left;
    color: black;
    margin-right:10px;
    position: relative;
    list-style:none inside;
}
.menu li a{
    display: block;
    color: #dcb43b;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 1px 0px #212529;
}


/*CSS Style cho Submenu*/
.menu li ul {
    width: auto;
    display: none;
    padding: 15px;
    position: absolute;
    background-color: white;
    border-bottom: 3px solid #0082bb;
}

.menu li ul li{
    padding:0;
    margin: 0;
    float: none;
    display: block;
}

.menu li ul li a{
    color: #465777;
    text-shadow: none;
    padding: 8px 0 8px 16px;
    transition: all 400ms ease-in-out;
}

.menu li ul li a:hover{
    color: #465777;
    padding: 8px 0px 8px 30px;
    transition: all 400ms ease-in-out;
}

.menu li ul li a:before{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 12px;
    color: #fe6d70;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-size: 0.9rem;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


.menu li ul li a:hover:before {
    left: 15px;
    opacity: 1;
    top: 12px;
    font-size: 1.05rem;
    position: absolute;
    color: #fe6d70;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    transition: all 400ms ease-in-out;
}

.menu li:hover ul{
    display: block;
}

.scrolled {
    background-color: white !important;
    color: black !important;
}

.scrolled ul li a{
    color: #5f5842 !important;
    text-shadow: none !important;
}

.mobile-nav {
    display:  none !important;
}

.sub-menu-mobile {
    display: none;
}

.sub-menu-mobile.open {
    display: block; /* Hiển thị sub-menu khi có class 'open' */
}

@media (max-width: 768px) {
    #fixNav {
        display: none !important;
    }

    .mobile-nav {
        top: 0px;
        z-index: 1001;
        width: 100%;
        height: 70px;
        display: block !important;
        position: fixed;
        background-color: white;
    }

    #menu_toggle {
        height: 70px;
        display: flex;
        padding: 0px 10px;
        color: darkgray;
        font-size: xx-large;
        align-items: center;
        justify-content: end;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 0 0.2rem rgba(221, 210, 209, 0.5);
    }

    #menu_mobile {
        overflow: auto;
        max-height: 75vh;
    }

    .mobile-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    .mobile-nav ul li {
        color: #333;
        font-weight: bold;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
    }

    .mobile-nav ul li .sub-menu-mobile li {
        border: none;
        padding: 0px;
    }

    .mobile-nav ul li ul {
        padding-left: 15px;
    }

    .hidden {
        display: none;
    }

    .mobile-nav ul li a {
        color: #333;
        padding: 10px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }

    .mobile-nav ul li a:hover {
        background-color: #ddd;
    }
}

.appointment a {
    border-radius: 20px;
    display: unset !important;
    text-transform: uppercase;
    background-color: #953326;
    font-weight: 700 !important;
    font-size: small !important;
}

.appointment a i {
    font-size: large;
}




.scrolled ul li .appointment a {
    color: white !important;
    text-shadow: none !important;
}
